---
import Sejarah from '../components/Sejarah.jsx';
import Basic from '../layouts/Basic.astro';
import '../styles/w3.css';
import Mainan from '../components/Mainan.jsx';

---

<Basic title="My Basic Layout">
    <main>
        <Sejarah />
        <div class="w3-container">
            <Mainan />
        </div>
    </main>
</Basic>

